<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>kitrierp</display-name>
  <!--classpath는 웹영역이 아닌 쪽을 읽어들을때 사용, Dao Service application 설정을 읽어오는것 -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:com/kitrierp/**/config/spring/*-application.xml</param-value>
  </context-param>
  
  <!-- WEB-INF 이외의 것을 읽어들일때 -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <filter>
    <filter-name>encoding</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>*.erp</url-pattern>
  </filter-mapping>
  
  <!-- web.xml(서블릿) 설정 -->
  <servlet>
    <servlet-name>kitrierp</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param><!-- xml 설정파일을 원하는 위치에 놓고 싶을 때 설정 -->
      <param-name>contextConfigLocation</param-name>
      <!--**은 뎁스가 몇개든 무엇이 와도 상관없다.  -->
      <param-value>classpath:com/kitrierp/**/config/spring/*-servlet.xml</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>kitrierp</servlet-name>
    <url-pattern>*.erp</url-pattern>
  </servlet-mapping>
 
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>